{erl_opts,   [warnings_as_errors, debug_info]}.
{port_specs, [{"priv/euds_nifs.so", ["c_src/*.cpp"]}]}.

{port_env, [
             %% Make sure to link -lstdc++
             {"(linux|solaris|freebsd|netbsd|openbsd|dragonfly|darwin)",
              "LDFLAGS", "$LDFLAGS -lstdc++"},
             {"(linux|solaris|freebsd|netbsd|openbsd|dragonfly|darwin)",
              "CFLAGS", "$CFLAGS -DNDEBUG -O3"},
             {"(linux|solaris|freebsd|netbsd|openbsd|dragonfly|darwin)",
              "CXXFLAGS", "$CFLAGS -DNDEBUG"}
            ]}.
